# Instructions

First, save a copy of this notebook replacing FirstnameLastname.ipynb with your actual first and last name!

The rest of this notebook will have answers to fill in and exercises to try.  When you're done, save it and create a link by going to SHARE (upper right of screen) and GET SHAREABLE LINK.  You can copy that into the [google form](https://forms.gle/RTt9vPuAzkzA2FhA6) that we're using to collect your submissions.  (If you prefer, you can download it as a .ipynb from the file menu and upload it into the form.)

# Geodata Bootcamp - Python Exercises

Create a free Codecademy acount and go through lessons 1-5 of their [Python 2 Course](https://www.codecademy.com/learn/learn-python).  Then, in this Google CoLab Notebook (which you have renamed by now!) provide your answers to the following questions/exercises.

Some notes for if and when you get stuck: we encourage you to use google, which will often lead you to stackoverflow for answers. This is not cheating, it's programming!  You'll likely need to tweak what you find for your own code.

## Part 1 - Writing functions

First, import these packages.  If you find that you need more as you are working, you can add them here and re-run the cell.

In [ ]:
import numpy as np
import collections

Choose **two of the three** functions below and write the bodies to them (again, googling is encouraged):
  * `digit_sum`: takes an integer `n` and returns the sum of its digits.
  * `return_singletons`:  takes a list `my_list` and returns a list of only the entries that appeared one time in `my_list`.
  * `reverse`: takes a string `string_name` and returns a string with the same characters in reverse order.

In [ ]:
def digit_sum(n):
  """ Return the sum of the digits of the number `n`.
      Eg. if n is 123, return 6 (because 1 + 2 + 3 = 6)
      Some potential test inputs: 123
                                  120
                                  0
                                  1
  """
## comment out 'pass' and put your answer here

pass

In [ ]:
def return_singletons(my_list):
  """ Return a list that includes only numbers that appear once in `my_list`.
      Eg. if `my_list` is [1, 2, 3, 1, 2] return [3]

      Some potential test inputs: [1, 2, 3, 1, 2]
                                  []
                                  [1, 2, 3]
                                  [1, 2, 1, 2]
  """
## comment out 'pass' and put your answer here

pass

In [ ]:
def reverse(string_name):
  """ Reverse the letters of the string `s` and return it as a string.
      Eg. if s is "geodata" return "atadoeg"

      Some potential test inputs: "geodata"
                                  ""
                                  "g"
                                  "ge"
  """
## comment out 'pass' and put your answer here

pass

## Part 2 - Pandas

Pandas is a Python package for data manipulation and analysis.  It forms the basis of the `geopandas` library we will use later in our sessions for for geographic data manipulation. It has a big problem:  there is no good documentation that will teach you how to use it!  

Here is some not terribly helpful documentation that you can use for reference: [10 min overview](https://pandas.pydata.org/docs/getting_started/10min.html),  [data structure introduction](https://pandas.pydata.org/docs/getting_started/dsintro.html), overall [documentation](https://pandas.pydata.org/docs/index.html).


The following 3 lines of code will import pandas, load the sample dataset, and preview it by showing the first ten lines.

In [ ]:
import pandas
tips = pandas.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

Here are a bunch of basic commands that will help you understand some of the syntax in pandas.

In [ ]:
print('tips is a ',type(tips))  # this tells you what the data type of tips is (spoiler: it's a DataFrame)
print('---')
print(tips.columns) # this tells you the column headers
print('---')
sexcol = tips['sex']  # this creates a Series of all the data in the 'sex' column
print('sexcol is a ',type(sexcol))  # this confirms that it's a Series
print('---')
print(sexcol)   # this prints the data in the 'sex' column, with ... in the middle because it's long
print('---')
print(sexcol.value_counts())  # this tells you how many of each answer exist in the 'sex' column
print('---')
row5 = tips.iloc[5]  # this accesses the 5th row of the tips data
print(row5)   # this prints that 5th row, which is one record

tips is a  <class 'pandas.core.frame.DataFrame'>
---
Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')
---
sexcol is a  <class 'pandas.core.series.Series'>
---
0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object
---
Male      157
Female     87
Name: sex, dtype: int64
---
total_bill     25.29
tip             4.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 5, dtype: object


* How would you access the column representing day of the week?  How would you access the first row in the data set?
* Which days of the week are in this data? How many meals in the data were lunch?

In [ ]:
### Code cells here for your work

Here is a command to add a new column to the data that shows the bill before the tip, formed by taking the total and subtracting the tip.  After creating it, I'll view the beginning of the tips file to see my new column at the end.

In [ ]:
tips['bill']=tips['total_bill']-tips['tip']
tips.head(10)

   total_bill   tip     sex smoker  day    time  size   bill
0       16.99  1.01  Female     No  Sun  Dinner     2  15.98
1       10.34  1.66    Male     No  Sun  Dinner     3   8.68
2       21.01  3.50    Male     No  Sun  Dinner     3  17.51
3       23.68  3.31    Male     No  Sun  Dinner     2  20.37
4       24.59  3.61  Female     No  Sun  Dinner     4  20.98
5       25.29  4.71    Male     No  Sun  Dinner     4  20.58
6        8.77  2.00    Male     No  Sun  Dinner     2   6.77
7       26.88  3.12    Male     No  Sun  Dinner     4  23.76
8       15.04  1.96    Male     No  Sun  Dinner     2  13.08
9       14.78  3.23    Male     No  Sun  Dinner     2  11.55

Now you try:  create a new column that shows the total bill per person.  (So if all the people in the party were splitting the check equally, how much would they pay?)

In [ ]:
### Your answer goes here

That's it!  thanks!